<div class="col-lg-2 sidebar">
	<div class="container-fluid sidebar-contents">
		<div class="row">
			<h1><%= @movie.title %></h1>
			<h5><em><%= @movie.year %></em></h5>
		</div>

		<div class="row">
			<img src="<%= @movie.poster %>">
		</div>

		<div class="row">
			<p><%= @movie.synopsis %></p>
		</div>
	</div>
</div>

<p id="notice"><%= notice %></p>
<div class="col-lg-10 main">
	
	<div class="row comment">
	<% @comments.each do |comment| %>
		<div class="row author">
			<span><strong><%= comment.username %> - </strong></span>
			<span><em><%= comment.created_at %></em></span>
		</div>

		<div class="row comment-content">
			<p><%= comment.content %></p>
		</div>
		<% end %>
	</div>

	<div class="row comment-form">
		<h3>Contribute to the discussion:</h3>
		<br>
		<%= form_for [@movie, @comment] do |f| %>
  			<% if @comment.errors.any? %>
   			 <div id="error_explanation">
      			<h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      			<ul>
      				<% @comment.errors.full_messages.each do |message| %>
        				<li><%= message %></li>
      					<% end %>
     			 </ul>
   			 </div>
  			<% end %>

 			 <div class="field">
   				 <%= f.label :username %>
   				 <%= f.text_field :username %>
  			</div>

  			<div class="field">
    			<%= f.label :content %>
    			<%= f.text_area :content %>
  				</div>


  				<div class="actions">
    				<%= f.submit %>
  				</div>
		<% end %>
	</div>	
	
</div>


<!--
<%= link_to 'Edit', edit_movie_path(@movie) %> |
<%= link_to 'Back', movies_path %>
-->