<p id="notice"><%= notice %></p>

<p>
  <strong>Artist:</strong>
  <%= @concert.artist %>
</p>

<p>
  <strong>Venue:</strong>
  <%= @concert.venue %>
</p>

<p>
  <strong>City:</strong>
  <%= @concert.city %>
</p>

<p>
  <strong>Date:</strong>
  <%= @concert.date %>
</p>

<p>
  <strong>Price:</strong>
  <%= @concert.price %>
</p>

<p>
  <strong>Description:</strong>
  <%= @concert.description %>
</p>

<%= link_to 'Edit', edit_concert_path(@concert) %> |
<%= link_to 'Back', concerts_path %>
