<h1><%= @user.name %></h1>

<ul>
	<% @products.each do |product| %>
		<li>
			<strong><%= product.title %></strong> :
			<%= product.description %> -
			<em><%= product.deadline %></em>
		</li>
	<% end %>
</ul>


<%= link_to 'Add a product', new_product_path %>
<%= link_to 'Back to users', users_path %>	
